{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}

{% if messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  {% for message in messages %}
    <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="banner">
      <img src="{% static 'images/Home-page.jpg' %}" alt="">
      <div class="content">
        <h1>Class Connect</h1>
        <p>Student-Teacher Portal</p>
      </div>
    </div>

    <div class="about">
      <h1>About Us</h1>
      <p>A Class Connect is a web-based platform that provides a communication and collaboration tool for students and teachers. It can serve as a centralized hub for managing assignments, grades and other academic information. The goal of a student-teacher portal is to improve communication, enhance collaboration, and increase transparency between students and teachers. Features may include online submissions of assignments, access to grades and communication tools such as messaging and information sharing about events and activities.</p>
    </div>

    <div class="use-content">
      <h1>Our Services</h1>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="box">
            <div class="imgBx">
              <img src="{% static 'images/Teacher.jpg' %}" alt="">
            </div>
            <div class="content">
              <h3>For Teachers</h3>
              <ol>
                <li>Teachers can add students in their class through Add Student option</li>
                <li>Teachers can give or edit their class students marks</li>
                <li>Teachers can write notice which will be send to all the students in their class</li>
                <li>Teachers can upload assignments through upload assignment option</li>
                <li>Teachers can check their student's assignment submission and give them marks accordingly</li>
                <li>Students can message Teachers directly and their messages can be seen in Inbox</li>
                <li>User can add profile picture through edit profile option</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="box">
            <div class="imgBx">
              <img src="{% static 'images/Student.jpeg' %}" alt="">
            </div>
            <div class="content">
              <h3>For Students</h3>
              <ol>
                <li>Students can login to the portal and keep themselves updated of all the activities going on in the class</li>
                <li>Students can see the notice given by their teacher in the Class Notice option</li>
                <li>Students can download their assignments in the Assignments option and can also submit it</li>
                <li>Students can contact any teacher through message option in All Teachers List</li>
                <li>Students can check their marks in the Marks option</li>
                <li>User can add profile picture through edit profile option</li>
              </ol>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}
